<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1>About</h1>
        <h3>What is this?</h3>
        <div class="about-description">
            <p>Bojan Social is a stupid social media site built for fellow Bojan's and by RGB, ohno and some other cool people</p>
        </div>
        <h3>Why?</h3>
        <div class="about-description">
            <p>This was mainly made due to me (RGB) being bored and wanted a better option for joke social media sites. Sites such as blips.club, clitorizweb have either died in the past 3 years or fallen off in my opinion</p>
        </div>
        <h3>How did you build this?</h3>
        <div class="about-description">
            <p>We use <a href="http://nginx.org">nginx</a> as the web server</p>
            <p>Backend is written with <s>the ExtremeGaySexEnterpriseWebFramework</s> <a href="http://nodejs.org">node.js</a> and <a href="http://expressjs.org">express</a></p>
            <p>Database is <s>Microsoft SQL Server 2003</s> <a href="http://mongodb.com">MongoDB</a></p>
            <p>Passwords are encrypted with <a href="http://en.wikipedia.org/wiki/Bcrypt">bcrypt</a></p>
        </div>
        <h3>Source?</h3>
        <div class="about-description">
            <p>We are <a href="https://github.com/Hedy88/BojanSocial">open source</a> but licensed under the GNU GPL3 license. I'd also prefer no public rehosts since they damage the main site</p>
        </div>
        <h3>Why is there so many missing features?</h3>
        <div class="about-description">
            <p>This site is still under early alpha stages and stuff will not be set in stone, but hey you could contribute to the code :D</p>
        </div>
        <h3>Is that it?</h3>
        <div class="about-description">
            <p>It seems like so.</p>
        </div>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>