<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1 class="admin-page-header">The admin panel</h1>
        <p>The requested URL was not found on the server :(</p>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>
