<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1>500: Internal server error</h1>
        <p>The server encountered an error and could not complete your request. Please report this problem to the admin's with this error message and the query that caused it.</p>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>
