<%- include("templates/base.ejs", { normalHeader: true }) %>
  <div class="site-content">
    <div class="side-panel homepage-panel">
      <bs-feeds-panel></bs-feeds-panel>
      <bs-friends-panel></bs-friends-panel>
    </div>
    <div class="main-panel">
      <bs-post-box currentUser="<%= currentUser.username %>"></bs-post-box>
      <bs-posts feed="all" page="0"></bs-posts>
    </div>
    <div class="side-panel homepage-panel">
      <bs-featured-panel></bs-featured-panel>
    </div>
  </div>
<%- include("./templates/footer.ejs") %>
</body>
</html>
