<%- include("templates/base.ejs", { normalHeader: true }) %>
  <div class="site-content">
    <div class="side-panel homepage-panel">
      <div id="feeds-panel" class="panel">
        <h2 class="panel-header">
          feeds
        </h2>
        <div class="panel-content">options for posts from friends etc etc</div>
      </div>
      <div id="friends-panel" class="panel">
        <h2 class="panel-header">
          friends
        </h2>
        <div class="panel-content">list of friends and friend requests</div>
      </div>
    </div>
    <div class="main-panel">
      <post-box currentUser="<%= currentUser.username %>"></post-box>
      <bs-posts feed="all" page="1"></bs-posts>
    </div>
    <div class="side-panel homepage-panel">
      <div id="featured-panel" class="panel">
        <h2 class="panel-header">
          featured
        </h2>
        <div class="panel-content">users can see active / cool people here</div>
      </div>
    </div>
  </div>
<%- include("./templates/footer.ejs") %>
</body>
</html>
