<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1>hey! are you sure you want to go here?</h1>
        <p>this will redirect to <a href="<%= link %>"><%= link %></a></p>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>