<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1>Login</h1>
        <% if (process.env.NODE_ENV != "production") { %>
        <div class="dialog warning-dialog">
            <span>hey, this is a development server! user data may be removed at any time</span>
        </div>
        <% } %>
        <% if (error) { %>
        <div class="dialog error-dialog">
            <span><%= error %></span>
        </div>    
        <% } %>
        <form class="auth-form" method="post" action="/login">
            <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">

            <label for="username">Username <span style="color: green;">@your-username-here</span></label>
            <input type="text" name="username" class="form-input" id="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="form-input" id="password" required>    
            
            <input type="submit" value="Login!">                    
        </form>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>