<%- include("templates/base.ejs") %>
  <div class="site-content auth-page">
    <div class="auth-content-info">
      <img class="troll" src="/img/troll.png" alt="troll" width="150" height="110">
      <h2>the ""best social media site"" is one click away</h2>
      <a href="/signup">Don't have an account?</a>
    </div>
    <div class="auth-box">
      <h2>login</h2>
      <form action="/login" method="post" class="general-form">
        <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">

        <label for="username">Username</label>
        <div class="username-input">
          <span>@</span>
          <input type="text" name="username" class="form-input" id="username" required>
        </div>

        <label for="password">Password</label>
        <input type="password" name="password" class="form-input" id="password" required>

        <input type="submit" value="Login!" class="button-yellow button large sign-up">
      </form>
    </div>
  </div>
<%- include("./templates/footer.ejs") %>
</body>
</html>
