<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <% if (process.env.NODE_ENV != "production") { %>
            <div class="dialog warning-dialog">
                <span>hey, this is a development server! user data may be removed at any time</span>
            </div>
        <% } %>
        <div class="home-layout">
          <%- include("templates/sidebar.ejs") %>
          <div class="window main-box">
            <div class="window-content main-box-content"></div>
          </div>
        </div>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>
