<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1>Stocks</h1>
        <p>work in progress</p>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>
