<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
        <h1>Terms of service</h1>
        <p>1. Just don't be an asshole</p>
        <p>2. No racial slurs, homophobia or any other of that nasty stuff</p>
        <p>3. Do not break UK law. Suspiciously holding <a href="https://en.wikipedia.org/wiki/Salmon_Act_1986#Handling_salmon/fish_in_suspicious_circumstances">salmons</a> will not be tolerated.</p>
        <p>4. No NSFW content.</p>
        <p>5. Do not break the site on purpose. Please alert any of our Administators of the issue instead of causing chaos</p>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>

