* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f2f2f2;
}

/* nav bar */

.nav-bar {
  display: inline-block;

  width: 100%;
  height: 30px;

  background: #eeeeee;
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);

  border-bottom: 2px ridge #eeeeee;
  border-top: 1px solid #9a9a9a;
  box-shadow: 0px -20px 13px 18px rgba(0, 0, 0, 0.75);
}

.nav-bar .box-container {
  height: 100%;
}

.nav-bar-button {
  color: #212121;
  display: inline-block;
  height: 100%;

  text-align: center;
  vertical-align: middle;

  border-right: 2px ridge #eeeeee;
  text-decoration: none;

  padding: 5px;
}

.nav-bar-button:hover {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
}

/* nav bar end */

/* util classes */

.box-container {
  margin: 0 auto;
  max-width: 750px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

button,
input[type="submit"] {
  color: #ffffff;
  border: 1px solid #124d77;
  border-radius: 3px;

  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  text-shadow: 1px 3px 4px rgba(0,0,0,0.33);

  background: linear-gradient(#007dc1, #0061a7);

  padding: 5px;
}

pre {
  padding: 5px;
  background: #fff;
  border: 2px ridge #ccc;
  box-shadow: inset 0px 1px 0px 0px, rgba(0, 0, 0, 0.75);
}

code {
  font-family: "MS PGothic", "MS Gothic", monospace;
}

/* util classes end */

/* general layout */

#content {
  margin-top: 10px;
  line-height: 1.6;
  word-wrap: break-word;
  color: #333;
}

#footer {
  font-size: 12px;
  display: block;

  text-align: center;

  margin-top: 15px;
  padding-top: 10px;

  border-top: 1px solid #cccccc;
}

/* general layout end */

/* admin box */

#admin-box {
  background: white;
  border: 1px solid black;
  padding: 5px;
  margin: 15px;

  font-family: "Comic Sans MS", sans-serif;

  width: 300px;
  position: fixed;
  bottom: 0%;
}

/* admin blox end */

/* main page elements */

.welcome {
  font-size: 16px;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
}

.features {
  display: grid;
  gap: 30px;
  grid-template-columns: 250px 250px;

  padding-left: 20px;
  padding-right: 20px;

  justify-content: center;

  margin-top: 15px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 5px;

  align-items: center;
}

.feature-title {
  font-weight: bold;
}

.index-layout {
  display: grid;
  gap: 10px;
  grid-template-columns: 320px 420px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.index-news-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.index-about-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.index-misc-area {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding: 10px;
}

.new-users-layout {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  gap: 10px;

  padding-left: 20px;
  padding-right: 20px;

  margin-top: 5px;
}

.new-user-pfp {
  border-radius: 6px;
}

.new-user {
  display: flex;
  flex-direction: column;
  gap: 0px;

  align-items: center;
}

.new-user-display-name {
  font-weight: bold;
}

.quotes {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.quote-by {
  font-style: italic;
  text-align: center;
}

/* end of main page elements */

/* auth page elements */

.auth-form {
  display: flex;
  flex-direction: column;

  padding: 5px;

  width: 350px;
  gap: 5px;
}

.auth-form,
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 4px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
}

/* end of auth page elements */

/* dialogs */

.dialog {
  padding: 4px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  box-shadow: inset 0px 1px 0px 0px, rgba(0, 0, 0, 0.75);
  font-size: 14px;
}

.dialog:not(:first-child) {
  margin-top: 10px;
}

.warning-dialog {
  border: 1px solid #cccccc;
  background: linear-gradient(to bottom, #fccd4d 50%,#f8b500 50%,#fbdf93 100%);
}

.error-dialog {
  border: 1px solid #cccccc;
  background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
}

/* end of dialogs */

/* window boxes */

.window {
  display: flex;
  flex-direction: column;
  gap: 0px;

  border: 1px solid #1e5799;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

  background: #fff;
  font-size: 14px;
}

.window-titlebar {
  padding: 3px;
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#1e5799 100%);
  border-bottom: 1px solid #1e5799;

  font-weight: 501;
  color: #fff;
}

.window-content {
  padding: 4px;
}

.window-footer {
  padding: 4px;
  border-top: 1px solid #1e5799;
  text-align: center;
}

/* end of window boxes */

/* home page elements */

.post-box {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 10px;
}

.post-box-textarea {
  width: 100%;
  height: 70px;

  padding: 5px;

  resize: none;
  font-family: "Segoe UI", Arial, sans-serif;

  border-radius: 6px;
  border: 1px solid #cccccc;
}

.post-box-button {
  background: linear-gradient(to bottom, #2874c5 0%, #0d57a7 100%);
  border: 1px solid #2262a6;
  padding: 5px;
  color: white;
  float: right;
  min-width: 60px;
}

.home-layout {
  display: grid;
  grid-template-areas: "info-box main-box";
  grid-template-columns: 30% calc(70% - 10px);
  gap: 10px;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 0px;

  border: 2px ridge #eeeeee;
  background: linear-gradient(to top, #eeeeee 0%, #cccccc 50%);

  max-height: 163px;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 10px;

  padding: 8px;
  border-bottom: 2px ridge #eeeeee;

  font-size: 12px;
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 50%) !important;
}

.user-info-left > img {
  margin-top: 2px;
  border-radius: 4px;
}

.user-info-right {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.user-info-display-name {
  font-weight: bold;
}

.info-box-tab {
  padding: 5px;

  display: flex;
  flex-direction: row;
  gap: 5px;

  font-size: 14px;

  align-items: center;
  border-bottom: 2px ridge #eeeeee;
  background: linear-gradient(
    to bottom,
    #f2f6f8 0%,
    #d8e1e7 50%,
    #b5c6d0 51%,
    #e0eff9 100%
  );
}

.info-box-tab > span > a {
  text-decoration: none;
  color: #333;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 10px;
  font-size: 12px;
}

.post {
  display: flex;
  flex-direction: row;
  gap: 10px;

  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 10px;
  border-bottom: 1px dotted #cccccc;
}

.post-left > img {
  border-radius: 4px;
}

.post-right {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.post-right > a {
  color: #333;
  text-decoration: none;
}

.post-right-username {
  font-weight: normal;
}

.post-right-display-name {
  font-weight: bold;
}

.post-right-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 5px;
}

.post-right-content {
  line-height: 1.8;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.post-tabs {
  display: flex;
  flex-direction: row;
  gap: 0px;

  margin-top: 10px;
  margin-bottom: 10px;

  justify-content: center;
}

.tab {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;

  background: linear-gradient(to bottom #F6F6F6 25%, #DCDCDC 50%);

  border: 1px solid #ccc;
}

.tab > a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.tab:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tab:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.active-tab {
  background: linear-gradient(to bottom, #CCCFCC 25%, #D4D6D4 50%);
}

/* end of home page elements */

/* about page elements */

.about-description {
  padding: 5px;
  padding-left: 20px;
  font-size: 14px;
}

/* end of about page elements */

/* account settings page */

.settings-layout {
  display: grid;
  grid-template-columns: 60% calc(40% - 10px);
  gap: 10px;

  margin-top: 10px;
}

.settings-left {
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings-right {
  padding: 5px;
}

.settings-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.setting-name {
  margin-bottom: 5px;
}

.setting-name:not(:first-child) {
  margin-top: 5px;
}

.setting-description {
  font-style: italic;
  font-size: 12px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.code-box {
  width: 100%;
  height: 120px;

  padding: 5px;

  resize: none;
  font-family: "MS PGothic", "MS Gothic", monospace;

  border: 2px ridge #cccccc;
}

/* end of account setting page elements */

/* profile page elements */

.profile-banner-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 1px 5px 0px rgba(168, 168, 168, 0.75);
}

.profile-banner-image {
  background-size: cover;
  background-position: center center;

  width: 749px;
  height: 200px;
}

.profile-banner-pfp {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 1px 5px 0px rgba(168, 168, 168, 0.75);

  position: absolute;
  top: 170px;
}

.profile-banner-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 12px;

  border-top: 1px solid #ccc;

  width: 750px;
  font-size: 14px;
}

.profile-banner-info-container {
  display: flex;
  flex-direction: column;
  gap: 0px;

  margin-left: 135px;
}

.profile-banner-info-top {
  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
}

.profile-banner-info-bottom {
  display: flex;
  flex-direction: row;
  gap: 5px;

  align-items: center;
  font-size: 12px;
}

.profile-banner-info-display-name {
  font-weight: bold;
  font-size: 16px;
}

.profile-banner-info-createdOn, .profile-banner-info-lastLogin {
  font-style: italic;
}

.profile-badge {
  display: flex;
  flex-direction: row;
  gap: 5px;

  align-items: center;
}

.profile-button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid #ccc;
  border-radius: 8px;

  margin-left: auto;
}

.profile-button > a {
  color: #333;
  text-decoration: none;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  gap: 2px;

  align-items: center;
}

/* end of profile page elements */
