<!--
    bojan social
    made by RGB and others :)
-->
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <title>Bojan Social</title>
    <meta name="description" content="the place where balkaners thrive." />
    <meta name="theme-color" content="#CCC"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="bojan social" />
    <meta property="og:description" content="the social media site designed for fellow bojans." />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="bojan social" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="/styles.css" />

    <% if (typeof css != "undefined") { %>
    <link rel="stylesheet" href="<%= css %>" />
    <% } %>

    <script src="/bojan.js?v=<%= new Date().getDate() % 4 %>" defer></script>
  </head>
<body>
<%- include("header.ejs") %>
