<div class="footer-container">
  <div class="footer-content">
      <div class="footer-left">
          <span>Copyright RGB & bojanSocial team © 2024 - 2025</span>
          <div class="footer-links">
              <a href="https://discord.gg/S7dxtdyjXc" target="_blank" rel="noopener noreferrer">Discord</a>
              <a href="/about" target="_blank" rel="noopener noreferrer">About</a>
          </div>
      </div>
      <div class="footer-right">
          <img src="/img/PoweredByExtremeGaySexEnterpriseWebFramework.png" alt="Powered By Extreme Gay Sex Enterprise Web Framework" width="309" height="31">
      </div>
  </div>
</div>
