<div id="footer">
    <div class="box-container">
        <span class="float-left">
            Copyright RGB © 2024 - <%= new Date().getFullYear()  %>
            <a href="#">Discord</a>
            <a href="/about">About</a>
            <a href="/faq">FAQ</a> 
        </span>
        <img class="float-right" src="/img/PoweredByExtremeGaySexEnterpriseWebFramework.png" alt="Powered By Extreme Gay Sex Enterprise Web Framework" class="powered-by-logo" width="309" height="31">    
    </div>
</div>