<div class="masthead-container">
  <div class="masthead">
    <div class="normal-header-container">
      <div class="normal-header">
        <div class="normal-header-left">
          <a href="/" class="normal-header-logo" alt="BojanSocial"></a>
          <form action="/search" method="get" class="search-box">
            <input class="search-box-input" type="text" placeholder="Search..." value="" />
            <button class="button button-blue search-button">
              <div class="search-box-icon"></div>
            </button>
          </form>
        </div>
        <div class="normal-header-right">
          <div class="user-info">
            <p class="nickname"><%= currentUser.displayName %></p>
            <p class="username">@<%= currentUser.username %></p>
          </div>
          <div class="pfp-container">
            <img class="pfp" src="/@<%= currentUser.username %>/pfp" alt="Avatar" width="32" height="32">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
