<div class="masthead-container">
  <div class="masthead">
    <!--
    remove this to get the site banned in turkey

    <div class="ataturk-cocksucker-header-container">
      <div class="ataturk-cocksucker-header">
        <img src="/img/ataturk-trolling/ataturk.svg" alt="Gay sex man" height="44">
        <span class="ataturk-cocksucker-header-nav-item">Biji Kurdistan</span>
        <span class="ataturk-cocksucker-header-nav-item">Ministry of Armenian genocide denial</span>
        <span class="ataturk-cocksucker-header-nav-item">Constantiople should be given to the Greeks again</span>
        <span class="ataturk-cocksucker-header-nav-item">Ministry of Kurdish opression</span>
      </div>
    </div>
    -->
    <div class="normal-header-container">
      <div class="normal-header">
        <div class="normal-header-left">
          <a href="/" class="normal-header-logo" alt="BojanSocial"></a>
          <form action="/search" method="get" class="search-box">
            <input class="search-box-input" type="text" placeholder="Search..." value="" />
            <button class="button button-blue search-button">
              <div class="search-box-icon"></div>
            </button>
          </form>
        </div>
        <div class="normal-header-right">
          <div class="user-info">
            <p class="nickname"><%= currentUser.displayName %></p>
            <p class="username">@<%= currentUser.username %></p>
          </div>
          <div class="pfp-container">
            <img class="pfp" src="/@<%= currentUser.username %>/pfp" alt="Avatar" width="32" height="32">
          </div>
          <div class="dropdown-button"></div>
        </div>
      </div>
    </div>
    <noscript>
      <div class="alert-container alert-error">
        <div class="alert-content">bojanSocial needs JavaScript to work. Please enable it.</div>
      </div>
    </noscript>
  </div>
</div>
